<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenMotion - Sobre</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

    <!-- Impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
</head>
<body>
    <div class="container">
        <h1>GreenMotion</h1>
        <p>Movendo o futuro com energia limpa</p>
        <p>Autor: Samuel Cerretti Higino</p>
        <p>Sob licença MIT</p>
    </div>
    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>